<html>

    <head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>PLG | Login</title>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
		<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
		<link rel="stylesheet" href="css/login.css">
	</head>

<body>

    <form class="pure-form" id="login-wrapper" action="/login" method="post">
        <div id="frame">
            <img src="img/plgico.png" width="180px" style="margin-top: 35px;" draggable="false">
            <input type="text" placeholder="Benutzername" style="margin-top: 35px;margin-bottom: 6px;" name="mail">
            <input type="password" placeholder="Passwort" style="margin-top: 6px;margin-bottom: 16px;"name="hash">
			<button type="submit" id="lbtn" class="pure-button">Login <i class="fas fa-sign-in-alt"></i></button>
		</div>
    </form>

</body>
</html>